<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.birt.report.designer.ui.reportitemUI">
      <model
            extensionName="%extension.name">
      </model>
      <palette
            icon="resources/rectangle.png"></palette>
      <editor
            canResize="true"
            menuLabel="Rounded Rectangle"
            showInDesigner="true"
            showInMasterPage="true">
      </editor>
      <outline
            icon="resources/rectangle.png"></outline>
      <builder
            class="org.eclipse.birt.report.extension.rectangle.RectangleBuilder">
      </builder>
      <reportItemFigureUI
            class="org.eclipse.birt.report.extension.rectangle.RectangleFigureUI">
      </reportItemFigureUI>
   </extension>
   <extension
         point="org.eclipse.birt.report.model.reportItemModel">
      <reportItem
            class="org.eclipse.birt.report.extension.rectangle.RectangleItemFactory"
            extendsFrom="ExtendedItem"
            extensionName="%extension.name"
            hasStyle="true"
            isNameRequired="false">
         <property
               canInherit="true"
               hasOwnModel="true"
               isEncryptable="false"
               isList="false"
               name="textRect"
               type="string">
         </property>
         <property
               canInherit="true"
               defaultValue="10"
               hasOwnModel="true"
               isEncryptable="false"
               isList="false"
               name="arcSize"
               type="integer">
         </property>
      </reportItem>
   </extension>
   <extension
         point="org.eclipse.birt.report.engine.reportitemPresentation">
      <reportItem
            class="org.eclipse.birt.report.extension.rectangle.RectanglePresentationImpl"
            name="%extension.name">
      </reportItem>
   </extension>
   <extension
         point="org.eclipse.birt.report.designer.ui.elementAdapters">
      <adaptable
            class="org.eclipse.birt.report.model.api.ExtendedItemHandle">
         <adapter
               factory="org.eclipse.birt.report.extension.rectangle.views.RectanglePageGeneratorFactory"
               id="org.eclipse.birt.report.extension.rectangle.views.RectanglePageGeneratorFactory"
               singleton="false"
               type="org.eclipse.birt.report.designer.ui.views.IPageGenerator">
            <enablement>
               <test
                     forcePluginActivation="true"
                     property="ExtendItemHandle.extensionName"
                     value="%extension.name">
               </test>
            </enablement>
         </adapter>
      </adaptable>
   </extension>

</plugin>
