<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.birt.report.designer.ui.reportitemUI">
      <model
            extensionName="%extension.name">
      </model>
      <palette
            icon="resources/barcode.png"></palette>
      <editor
            canResize="true"
            menuLabel="BarCode"
            showInDesigner="true"
            showInMasterPage="true">
      </editor>
      <outline
            icon="resources/barcode.png"></outline>
      <builder
            class="org.eclipse.birt.report.extension.barcode.BarCodeBuilder">
      </builder>
      <reportItemFigureUI
            class="org.eclipse.birt.report.extension.barcode.BarCodeFigureUI">
      </reportItemFigureUI>
   </extension>
   <extension
         point="org.eclipse.birt.report.model.reportItemModel">
      <reportItem
            class="org.eclipse.birt.report.extension.barcode.BarCodeItemFactory"
            extendsFrom="ExtendedItem"
            extensionName="%extension.name"
            hasStyle="true"
            isNameRequired="false">
         <property
               canInherit="true"
               hasOwnModel="true"
               isEncryptable="false"
               isList="false"
               name="barCodeType"
               type="string">
         </property>
         <property
               canInherit="true"
               hasOwnModel="true"
               isEncryptable="false"
               isList="false"
               name="barCode"
               type="string">
         </property>
      </reportItem>
   </extension>
   <extension
         point="org.eclipse.birt.report.engine.reportitemPresentation">
      <reportItem
            class="org.eclipse.birt.report.extension.barcode.BarCodePresentationImpl"
            name="%extension.name">
      </reportItem>
   </extension>
   <extension
         point="org.eclipse.birt.report.designer.ui.elementAdapters">
      <adaptable
            class="org.eclipse.birt.report.model.api.ExtendedItemHandle">
         <adapter
               factory="org.eclipse.birt.report.extension.barcode.views.BarCodePageGeneratorFactory"
               id="ReportDesign.AttributeView.BarCodePageGenerator"
               singleton="false"
               type="org.eclipse.birt.report.designer.ui.views.IPageGenerator">
            <enablement>
               <test
                     forcePluginActivation="true"
                     property="ExtendItemHandle.extensionName"
                     value="%extension.name">
               </test>
            </enablement>
         </adapter>
      </adaptable>
   </extension>

</plugin>
